body {
    margin: 0px auto;
    width: 1200px;
    background-color: white;
}

div p {
    padding: 5px;
}

.hlavny {
    /*background-color: red;*/
    display: flex; /* Zobraz "obsah", teda kontajnery (div) vo vnutri vedla seba */
    flex-direction: column; /* Touto vlastnostou nastavime "obsah", ktory sa bude zobrazovat pod sebou */
    margin: 20px;
    /*    flex-wrap: wrap;*/
}

.hlavicka {
    background-color: red;
    position: sticky;
    top: 0px;

    /*height: 50px;*/ /* Nastavili sme vysku hlavicky na 50 pixelov */
}

.telo {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.nad-patkou {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.patka {
    background-color: #79b4f3;
    margin-top: 0px;
    width: 100%;
    font-family: "Arial Black";
}

.lavy {
    width: 35%;
}

.pravy {
    width: 65%;
    margin-left: 10px;
}

.lavy-horny {
    background-color: #dcc8e6;
    height: 400px;


<iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="video"  frameborder="0" src="https://www.youtube.com/embed/XrZLmD8wbqs" title="YouTube video player">

</iframe>

}

.lavy-dolny {
    background-color: rgba(86, 91, 86, 0.15);
    height: 600px;
    margin-top: 10px;
    transition: margin-right 2s .5s;
}

.pravy-horny {
    background-color: orange;
    height: 700px;
    font-family: Arial;
    font-size: 20px;
    margin-top: -20px;
}

.pravy-dolny {
    background-color: silver;
    height: 300px;
    margin-top: 10px;
}

.nad-patkou-lavy {
    background-color: wheat;
    width: 50px
    %;
    display:flex;
}

.nad-patkou-pravy {
    background-color: #3a3a3a;
    width: 20%;
}

/* Ostylovane menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: #a14c4c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: blue;
}

.active {
    background-color: brown;
}

/* Responzivne menu */
.topnav {
    overflow: visible;
    background-color: red;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #ff9900;
    color: white;
}

.topnav .icon {
    display: none;
}

